#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
bind-address = 192.168.32.136 // Alterar pelo IP do Servidor MySQL 1
server-id = 1
log_bin = mysql-bin
#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
