#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
bind-address = 192.168.32.137 // Alterar IP para o IP do servidor do MySQL 2
server-id = 2
log_bin = mysql-bin
#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
